<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img *ngIf="dataId.img" [src]="'assets/icon/' + dataId.img" class="icon-img" slot="start" [alt]="dataId.label"/>
    <ion-icon *ngIf="dataId.icon" [icon]="dataId.icon" slot="start" class="icon-img" size="large"></ion-icon>
    <ion-title class="ion-text-capitalize">{{dataId.label}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-generic-data-display [genericItems]="dataId.data | genericDataSearch:searchText"
                              [dataId]="dataId"></app-generic-data-display>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/quick-search'">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
