<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img [src]="'assets/icon/' + img" class="icon-img" slot="start" [alt]="title"/>
    <ion-title class="ion-text-capitalize">{{title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-generic-data-display [genericItems]="genericData | genericDataSearch:searchText"
                              [definitions]="tableDefinitions"></app-generic-data-display>
  </ion-list>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/quick-search'">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
