<ion-item *ngFor="let data of genericItems">
  <ion-label text-wrap>
    <ng-container *ngFor="let column of definitions; let i = index">
      <h1 *ngIf="i==0">{{data[column.column]}}</h1>
      <p *ngIf="i>0"><strong>{{column.label}}</strong> :
        <ng-container *ngFor="let word of ('' + data[column.column]).split(' ')">
          <ng-container *ngIf="word === '$CD$'">
            <img alt="CombatDice" class="text-cd" src="/assets/fallout-dice/side6.png"/>&nbsp;
          </ng-container>
          <ng-container *ngIf="word !== '$CD$'">{{word + ' '}}</ng-container>
        </ng-container>
      </p>
    </ng-container>
  </ion-label>
</ion-item>
