<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-item>
        <ion-icon icon="dice" size="large"></ion-icon>&nbsp;
        <h1>D20</h1>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">D20</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>Nombre de dès</ion-label>
          <ion-input type="number" name="d20Count" [(ngModel)]="d20Count">
          </ion-input>
        </ion-item>

        <ion-button color="primary" expand="block" (click)="rollD20()">Lancer</ion-button>

        <ion-list *ngIf="d20Results != null">
          <ion-list-header>
            <h1> TOTAL : {{ d20Results.total }}</h1>
          </ion-list-header>
          <ion-item lines="both" *ngFor="let child of d20Children; let i = index" [attr.data-index]="i">
            <ion-label>
              Dès #{{ i + 1 }} : {{ child.getAttribute('value') }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
