<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fallout JDR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong class="capitalize ion-padding">Bienvenue sur l'utilitaire Fallout JDR</strong>
    <p class="ion-padding">
      Utilisez le menu de gauche pour accéder aux fonctionnalités
      <img src="/assets/imgs/fallout-the-series_k1pz.jpg" alt="fallout-logo"/>
    </p>
  </div>
</ion-content>
