<ion-item *ngFor="let data of genericItems">
  <ion-icon *ngIf="dataId.moddable" icon="hammer" slot="end" class="mod-link"
            (click)="openModModal(data[dataId.definition[0].column])"></ion-icon>
  <ion-label text-wrap>
    <ng-container *ngFor="let column of dataId.definition; let i = index">
      <h1 *ngIf="i==0 && displayTitle">
        {{data[column.column]}}
      </h1>
      <p *ngIf="i>0 && data[column.column] && !isOptional(column, data[column.column])">
        <strong>{{column.label}}</strong> :
        <app-rich-text-display *ngIf="column.column !== 'Components'"
                               [propertyText]="('' + data[column.column])"></app-rich-text-display>
        <ng-container *ngIf="column.column === 'Components'">
          <span *ngIf="data[column.column] === '$DEFAULT$' || data[column.column] === '$DEFAULTTORSO$'">
            {{getComponents(data['Complexity'], data[column.column] === '$DEFAULTTORSO$')}}
          </span>
          <span *ngIf="data[column.column] !== '$DEFAULT$' && data[column.column] !== '$DEFAULTTORSO$'">
            {{data[column.column]}}
          </span>
        </ng-container>
      </p>
    </ng-container>
    <ng-container *ngIf="displayRecipe && matchingRecipes[data['Name']] !== null">
      <app-generic-data-display [dataId]="getRecipeDataId()" [displayRecipe]="false" [displayTitle]="false"
                                [genericItems]="matchingRecipes[data['Name']]"></app-generic-data-display>
    </ng-container>
  </ion-label>
</ion-item>
