<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon icon="search" slot="start" size="large"></ion-icon>
    <ion-title class="ion-text-capitalize">{{"QUICKSEARCH.TITLE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-note>{{"QUICKSEARCH.HELP" | translate}}</ion-note>

  <ion-searchbar #searchBar [placeholder]="'QUICKSEARCH.PLACEHOLDER' | translate" show-clear-button="focus"
                 debounce="200" (ionInput)="searchItems($event)"></ion-searchbar>
  <ion-list>
    <ng-container *ngFor="let dataId of definitions; let idx = index">
      <ion-list-header><h1>{{dataId.label}}</h1></ion-list-header>
      <app-generic-data-display [genericItems]="itemTypes[idx]" [dataId]="dataId"
                                [displayRecipe]="true"></app-generic-data-display>
    </ng-container>
  </ion-list>

  <ion-item *ngIf="searching">
    <ion-spinner></ion-spinner>
  </ion-item>
  <ion-item *ngIf="!searching && definitions?.length == 0 && searchText.length > 0">
    {{'QUICKSEARCH.NOITEMS' | translate }}
  </ion-item>
</ion-content>

