<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon icon="search" slot="start" size="large"></ion-icon>
    <ion-title class="ion-text-capitalize">Recherche rapide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-note>Cherchez parmis tous les objets connus du jeu en indiquant leur nom</ion-note>

  <ion-searchbar #searchBar [(ngModel)]="searchText" placeholder="Recherche rapide..." debounce="200"
                 (ionChange)="searchItems()"></ion-searchbar>
  <ion-list>
    <ng-container *ngFor="let dataId of definitions; let idx = index">
      <ion-list-header><h1>{{dataId.label}}</h1></ion-list-header>
      <app-generic-data-display [genericItems]="itemTypes[idx]"
                                [definitions]="dataId.definition"></app-generic-data-display>
    </ng-container>
  </ion-list>

</ion-content>

