<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{ "GETANDROID.TITLE" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div id="container">
      <strong class="capitalize ion-padding">{{ "GETANDROID.HELP" | translate }}</strong>
      <p class="ion-padding">
        {{ "GETANDROID.ORCLICKON" | translate }} <a href="https://fallout.kyne.ovh/falloutjdrhelper.apk"
                                                    target="_blank">{{ "GETANDROID.THISLINK" | translate }}</a>
        <img src="assets/imgs/qr-code.png" alt="fallout-logo"/>
      </p>
    </div>
  </ion-content>
</ion-app>
