img.clickable-icon {
  height: 24px;
  width: auto;
  vertical-align: bottom;
  cursor: pointer;
}

ion-icon.clickable-icon {
  cursor: pointer;
  font-size: 24px;
}

img.icon-img {
  height: 32px;
  width: auto;
}
