<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">Lancer de dès</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-list class="ion-padding-horizontal">
            <ul class="collapsible ion-no-padding">
              <li class="ion-margin-top border border-radius">

                <div class="collapsible-header" (click)="toggleGroup('COMBATDICE')">
                  <ion-item lines="none" class="default-item">
                    <ion-label>
                      <h2 class="text-color-primary text-size-md ion-text-wrap">Dès de combat</h2>
                    </ion-label>
                    <ion-icon *ngIf="groupStatus['COMBATDICE']==false" class="icon-color-accent"
                              name="chevron-forward-circle"></ion-icon>
                    <ion-icon *ngIf="groupStatus['COMBATDICE']==true" class="icon-color-primary"
                              name="chevron-down-circle"></ion-icon>
                  </ion-item>
                </div>

                <div class="item-accordion" [ngClass]="{'active': groupStatus['COMBATDICE']==true }"
                     [hidden]="groupStatus['COMBATDICE']==false">
                  <ion-card>
                    <ion-card-content>
                      <ion-item>
                        <ion-label>Nombre de dès</ion-label>
                        <ion-input type="number" name="combatDiceCount" [(ngModel)]="combatDiceCount">
                        </ion-input>
                      </ion-item>

                      <ion-button color="primary" expand="block" (click)="rollCombat()">Lancer</ion-button>

                      <ion-list *ngIf="combatDiceChildren.length > 0">
                        <ion-list-header lines="inset">
                          <ion-label>Résultat</ion-label>
                        </ion-list-header>
                        <ion-item lines="none" *ngFor="let child of combatDiceChildren; let i = index"
                                  [attr.data-index]="i">
                          <ion-thumbnail slot="start">
                            <img [src]="'/assets/imgs/fallout-dice/side-' + child.getAttribute('value') + '.png'"
                                 [alt]="child.getAttribute('value')"/>
                          </ion-thumbnail>
                          <ion-label>
                            Dès #{{ i + 1 }}  ({{child.getAttribute('value')}})
                          </ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>
              </li>
            </ul>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</ion-app>
