<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-item>
        <h1>Dès de combat</h1>
        <ion-avatar slot="start">
          <img alt="combat dice" [src]="'/assets/fallout-dice/side-6.png'"/>
        </ion-avatar>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dès de combat</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>Nombre de dès</ion-label>
          <ion-input type="number" name="combatDiceCount" [(ngModel)]="combatDiceCount">
          </ion-input>
        </ion-item>

        <ion-button color="primary" expand="block" (click)="rollCombat()">Lancer</ion-button>

        <ion-list *ngIf="combatDiceChildren.length > 0">
          <ion-list-header lines="inset">
            <ion-label>Résultat</ion-label>
          </ion-list-header>
          <ion-item lines="none" *ngFor="let child of combatDiceChildren; let i = index" [attr.data-index]="i">
            <ion-thumbnail slot="start">
              <img [src]="'/assets/fallout-dice/side-' + child.getAttribute('value') + '.png'"
                   [alt]="child.getAttribute('value')"/>
            </ion-thumbnail>
            <ion-label>
              Dès #{{ i + 1 }}  ({{child.getAttribute('value')}})
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
