<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-header>
          <ion-item class="transparent ion-text-center" lines="none">
            <ion-label class="ion-text-left ion-padding-top">
              <h1 class="text-size-xl text-color-light ion-text-wrap">{{'APP.TITLE' | translate}}</h1>
              <p class=" text-color-light text-size-md ion-text-wrap">
                {{'APP.SUBTITLE' | translate}}
              </p>
            </ion-label>
          </ion-item>
        </ion-header>

        <ion-list>
          <ion-item>
            <ion-select interface="action-sheet" [label]="'APP.LANGUAGEPICKER' | translate"
                        (ionChange)="changeLanguage($event)" [(ngModel)]="currentLanguage">
              <ion-select-option value="fr">Français</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list id="inbox-list">
          <ng-container *ngFor="let section of sections">
            <ion-list-header><h1>{{section.label}}</h1></ion-list-header>
            <ion-menu-toggle auto-hide="false" *ngFor="let item of section.data; let i = index">
              <ion-item lines="none" class="transparent"
                        (click)="selectedIndex = i" routerDirection="root"
                        [routerLink]="item.generic ? ['/generic-data', item.type] : '/' + item.type" detail="false"
                        [class.selected]="selectedIndex == i">
                <ion-label>
                  <p class="text-size-md font-regular text-color-light">{{ item.label }}</p>
                </ion-label>
                <ion-icon *ngIf="item.icon" slot="end" class="icon-color-light" [name]="item.icon"></ion-icon>
                <img [src]="'assets/icon/' + item.img" *ngIf="item.img" class="img-icon" slot="end" [alt]="item.type"/>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
