<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-header>
          <ion-item class="transparent ion-text-center" lines="none">
            <ion-label class="ion-text-left ion-padding-top">
              <h1 class="text-size-xl text-color-light ion-text-wrap">Fallout JDR </h1>
              <p class=" text-color-light text-size-md ion-text-wrap">
                Outils et aides
              </p>
            </ion-label>
          </ion-item>
        </ion-header>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item lines="none" class="transparent" (click)="selectedIndex = i" routerDirection="root"
                      [routerLink]="p.url" detail="false" [class.selected]="selectedIndex == i">
              <ion-label>
                <p class="text-size-md font-regular text-color-light">{{ p.title }}</p>
              </ion-label>
              <ion-icon *ngIf="p.icon" slot="end" class="icon-color-light" [name]="p.icon"></ion-icon>
              <img [src]="'assets/icon/' + p.img" *ngIf="!p.icon" class="img-icon" slot="end"/>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
