<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'APP.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong class="capitalize ion-padding">{{'HOME.WELCOME' | translate }}</strong>
    <p class="ion-padding">
      {{'HOME.WELCOME-DETAILS' | translate }}
      <img src="assets/imgs/fallout-the-series_k1pz.png" alt="fallout-logo"/>
    </p>
  </div>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/quick-search'">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
